flask
flask-login
flask-limiter
argon2-cffi
pyotp
qrcode
Pillow
pyclamd
scapy
requests
python-dotenv
SQLAlchemy
pymysql
mysql-connector-python
numpy
scikit-learn
joblib
cryptography
imghdr-lts
pandas
pytest
setuptools==81.0.0